.orders-widget{
  margin: 10px 0 0 0;
  // background-color: var(--vt-bg-color-grey);
  padding: 10px;
  border-radius: var(--vt-border-radius);
  border: 1px solid var(--vt-border-color);
  box-sizing: border-box;
  font-size: 14px;
  flex-wrap: wrap;
  flex-direction: column;
  &::after{ content: ''; display:block; clear: both; }
  .header{
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    .iconfont{ vertical-align: middle; }
  }
  .body { 
    margin:10px 0 0 0;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: var(--vt-text-color);
    img{
      width: 60px;
      height: 60px;
      object-fit: cover;
    }
    .info{
      padding: 0 0 0 10px;
      flex: 0 0 calc(100% - 60px);
      box-sizing: border-box;
      // font-size: 15px;
    }
    .title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
    .price {
      color:#f44336;
    }
  }
  .action{
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
    .btn {
      margin-left: 5px;
    }
  }
}


@media only screen and (min-width: 900px) {
  .orders-list-widget{
    margin-top: 40px;
  }
  .orders-widget{
    // outline: 1px solid green;
    margin: 10px 0 0 0;
    padding: 10px;
    font-size: 14px;
    &::after{ content: ''; display:block; clear: both; }
    display: flex;
    
  }
}


