/*
 * 用户中心
 */
.user-center-container {
  width: calc(100% - 16px);
  margin: 10px auto 0px auto;
}
.user-center-container::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
}

.user-center-sidebar {
  width: calc(100% - 40px);
  width: 100%;
  float: left;
}
.user-center-sidebar > *{ margin-top: 10px; }
.user-center-sidebar > *:nth-child(1){ margin-top: 0; }

/* user profile */
.user-profile {
  width: 100%;
  height: 200px;
  color: var(--rt-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--rt-bg-color-card);
  border-radius: var(--rt-border-radius);
  box-shadow: 0 0 2px 0 var(--rt-shadow-color);
}
.user-profile .user-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 4px solid var(--rt-bg-color);
  cursor: pointer;
}
.user-profile .user-avatar a.update-avatar-button {
  display: none;
}
.user-profile .user-avatar img.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.user-profile .user-info {
  width: auto;
  height: auto;
}
.user-profile .user-info .nickname {
  font-size: 16px;
  margin-top: 10px;
}


/* user center nav */
.user-center-sidebar .user-nav{
  background-color: var(--rt-bg-color-card);
  border-radius: var(--rt-border-radius);
  padding: 20px;
  box-shadow: 0 0 2px 0 var(--rt-shadow-color);
  display: flex;
  flex-wrap: wrap;
}

.user-nav a.sidebar-action {
  width: 25%;
  height: 0;
  // padding: 0px 0;
  padding-bottom: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: var(--rt-font-size-sm);
  // outline: 1px solid green;
}

.user-nav a.sidebar-action i {
  font-size: 40px;
}
.user-nav a.sidebar-action i:last-child {
  display: none;
}
.user-nav a.sidebar-action.active {
  // background-color: var(--rt-bg-color-hover);
  color: var(--rt-color-primary);
}


.user-center-panel {
  width: calc(100% - 40px);
  min-height: 500px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  float: right;
  background-color: var(--rt-bg-color-card);
  border-radius: var(--rt-border-radius);
  box-shadow: 0 0 2px 0 var(--rt-shadow-color);
  color: var(--rt-text-color);
}

.user-center-panel h3 {
  font-size: var(--rt-font-size-base);
  margin-top: 0px;
}



.user-no-content{
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--rt-text-color-grey);
  margin-top: 100px;
  img{ width: 100px;  }
  span{ margin-top: 10px;}
}




/*
 * 900px宽度 用户中心 样式
 */
@media only screen and (min-width: 900px) {
  .user-center-container {
    width: 1200px;
    margin: 20px auto 0px auto;
  }

  .user-center-sidebar {
    width: 300px;
    // padding: 20px;
    float: left;
    margin-top: 0px;
  }

  .user-center-sidebar > *{ margin-top: 20px; }
  .user-center-sidebar > *:nth-child(1){ margin-top: 0; }

  .user-center-panel {
    width: 840px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  
  .user-nav a.sidebar-action {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    font-size: var(--rt-font-size-base);
    padding-bottom: 0;
  }
  .user-nav a.sidebar-action i {
    font-size: 30px;
  }
  .user-nav a.sidebar-action i:last-child {
    font-size: 20px;
    margin-left: auto;
    display: block;
  }
    
  .user-nav a.sidebar-action span {
    margin-left: 10px;
  }

  
}
