.articles-widget{
  background-color: var(--vt-bg-color-card);
  box-shadow: 0 0 2px 0 var(--vt-shadow-color);
  border-radius: var(--vt-border-radius);
  overflow : hidden
}

.articles-widget::after {
  content: "";
  display: block;
  clear: both;
}

.articles-widget .articles-header{
  padding: 15px 15px 15px 15px;
  font-size: var(--vt-font-size-base);
  font-weight: bold;
}

.articles-list .media-item:nth-child(1){
  border-top: 1px solid var(--vt-border-color);
}
