
/* 加载更多按钮 */
.widget-one button.posts-more-button {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  background-color: var(--rt-bg-color-card);
  // box-shadow: 0 0 3px 0 var(--rt-shadow-color);
  box-shadow: 0 0 3px 0 var(--rt-color-primary);
  color: var(--rt-color-primary);
  border-radius: var(--rt-border-radius);
  border: none;
  margin: 10px auto;
  cursor: pointer;
}

/* 防止子元素响应 */
.widget-one button.posts-more-button > * {
  pointer-events: none;
}

.widget-one button.posts-more-button .iconfont{
  display: none;
}

.widget-one button.posts-more-button.loading .iconfont{
  display: inline-block;
  animation: rotation-load 1.5s linear infinite;
}

// .widget-one button.posts-more-button.loading,
// .widget-one button.posts-more-button:hover{
//   box-shadow: 0 0 3px 0 var(--rt-color-primary);
//   color: var(--rt-color-primary);
// }

@media only screen and (min-width: 900px) {
  .widget-one button.posts-more-button {
    width: 120px;
    margin: 20px auto 20px auto;
  }
}

@keyframes rotation-load {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
