/* 幻灯样式 */
.swiper-container{
  width: 100%;
  height: 50vw;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0px auto;
  overflow: hidden;
  border-radius: var(--rt-border-radius);
}

.swiper-container .swiper-slide {
  background: var(--rt-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.swiper-container .swiper-pagination-bullet-active {
  background-color: var(--rt-color-primary);
}

// 按钮样式
.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  left: 20px;
  transition: opacity 0.2s ease-in-out;
  z-index: 99;

  &::after {
    color: #fff;
    font-size: 18px;
  }

  &.swiper-button-disabled {
    opacity: 0.3;
    pointer-events: auto;
  }
}

.swiper-container .swiper-button-next {
  left: auto;
  right: 20px;
}

// 按钮
.swiper-container:hover {

  .swiper-button-next,
  .swiper-button-prev {
    visibility: visible;

    &:not(.swiper-button-disabled) {
      opacity: 1;
    }
  }
}



// @media only screen and (min-width: 900px) {
//   .swiper-container {
//     width: 1200px;
//     // max-height: 500px;
//     height: 500px;
//     margin: 20px auto 0 auto;

//     .swiper-slide {

//       img {
//         width: 100%;
//         border-radius: 0px;
//       }
//     }

//     // 按钮样式
//     .swiper-button-next,
//     .swiper-button-prev {
//       visibility: hidden;
//       opacity: 0;
//       display: flex;
//       justify-content: center;
//       width: 50px;
//       height: 50px;
//       border-radius: 50%;
//       background-color: rgba(0, 0, 0, 0.3);
//       left: 20px;
//       transition: opacity 0.2s ease-in-out;

//       &::after {
//         color: #fff;
//         font-size: 20px;
//       }

//       &.swiper-button-disabled {
//         opacity: 0.3;
//       }
//     }

//     .swiper-button-next {
//       left: auto;
//       right: 20px;
//     }
//   }
// }
