.dark-mode{
  input, textarea{
    color: var(--vt-text-color);
    background-color: var(--vt-bg-color-card);
  }
  
  input:focus-visible, textarea:focus-visible{
    // outline: none;
    outline: 1px solid var(--vt-color-primary);
  }
  
  
  
}
