/**
 * footer
 *
 * @author: soushenji <soushenji@qq.com>
 * @link: https://javascript.net.cn
 */

footer.footer {
  width: 100%;
  height: auto;
  // min-height: 260px;
  background-color: var(--rt-bg-color-card);
  margin-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  box-shadow: 0 0 1px 0 var(--rt-shadow-color);
  color: var(--rt-text-color);
  font-size: var(--rt-font-size-sm);
  padding-bottom:15px;
}
footer.footer a{
  font-size: var(--rt-font-size-sm);
  color: var(--rt-text-color);
}


.footer-container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.footer-container .footer-info {
  padding:0px 15px;
  overflow: hidden;
}

.footer-info .footer-description {
  overflow: hidden;
  line-height: 1.5;
  text-align: center;
  margin-top: 15px;
}

.footer-info ul.footer-link {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 0px;
  box-sizing: border-box;
}

.footer-info ul.footer-link > .menu-item {
  display: flex;
  margin: 0px 10px;
}

.footer-info .menu-item > a {
  line-height: 20px;
  overflow: hidden;
}

.footer-copyright {
  // width: 100%;
  min-height: 35px;
  border-top: 0px;
  line-height: 25px;
  padding:0 15px;
  margin-top:15px;
  text-align: center;
}
.footer-copyright a {
  color: var(--rt-text-color);
  font-size: 15px;
}
.footer-copyright a:hover {
  color: var(--rt-color-primary) !important;
}
.footer-copyright span {
  text-align: center;
  align-items: center;
  margin-top: 20px;
  padding: 0px 4px;
}
.footer-copyright span:nth-child(1) {
  margin-top: 0px;
}


/* .colored 暗色 footer */
footer.footer.colored{
  background-color: #333;
  color: var(--rt-text-color-grey);
}

footer.footer.colored a{ color: var(--rt-text-color-grey); }


@media only screen and (min-width: 900px) {
  footer.footer {
    margin-top: 0px;
    background-size: cover;
    padding:15px 0;
  }
  .footer-container {
    width: 1200px;
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: space-between;
  }
  .footer-container .footer-info {
    width: auto;
    max-width: 600px;
    margin: 0px;
    display: flex;
    padding:0px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-container  ul.footer-link {
    flex-direction: row;
    margin-top: 15px;
  }

  .footer-container  ul.footer-link li:nth-child(1){
    margin-left: 0;
  }

  .footer-copyright{
    width: 1200px;
    padding:0;
    margin: 15px auto 0 auto;
    text-align: left;
  }
}


@media only screen and (min-width: 900px) {
  footer.footer { display: block; }
}
