/**
* header 类型1
*/

.no-scroll {
  overflow-y: hidden;
}

.header.mobile {
  width: 100%;
  height: 50px;
  background-color: var(--rt-bg-color-card);

  // 顶部导航
  .header-nav {
    box-sizing: border-box;
    padding: 0px 5px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    box-shadow: 0px 0px 3px var(--rt-shadow-color);

    a.logo {
      display: block;
      height: 30px;

      img {
        height: 30px;
      }
    }

    a.top-nav-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;

      i {
        font-size: 25px;
      }
    }
  }

  /* 移动端菜单 */
  .mobile-menu-modal{
    width: 100vw;
    height: 100vh;
    z-index: 80;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--rt-bg-color-mask);
    display: none;
  }
  .mobile-menu-modal.show { display: flex; }
  .mobile-menu {
    box-sizing: content-box;
    background-color: var(--rt-bg-color-card);
    // backdrop-filter: saturate(97%) blur(41px);
    position: fixed;
    top: 0;
    left: 0;
    width: 80vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    z-index: 6;
  }
  .mobile-menu .action-widget{
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding:0 20px;
    box-sizing: border-box;
  }
  .action-widget .action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    color: var(--rt-text-color);
    cursor: pointer;
  }
  .action-widget .action-button  i { font-size: 25px; }
  .action-widget .action-button.dark-mode-button .moon { display: block; }
  .action-widget .action-button.dark-mode-button .sun { display: none; }
  .action-widget .action-button.dark-mode-button.dark .moon { display: none; }
  .action-widget .action-button.dark-mode-button.dark .sun { display: block; }

  .mobile-menu .site-logo{
    display: flex;
    justify-content: center;
  }
  .mobile-menu .site-logo img{
    width: 50%;
  }

  .mobile-menu .mobile-ul {
    width: 100%;
    height: 80%;
    margin-top: 0px;
    box-sizing: border-box;
    padding: 10px 30px;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  .mobile-menu .mobile-ul::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .mobile-ul li {
    width: 100%;
    height: auto;
    line-height: 30px;
    color: var(--rt-text-color);
    position: relative;
    margin: 15px auto;
  }
  .mobile-ul li:after{ content: ''; clear: both;}
  .mobile-ul li a {
    font-size: 16px;
  }
  .mobile-ul li.menu-item-has-children i{
    position:absolute;
    font-size: 20px;
    // font-weight: bold;
    top: 0px;
    right: 0px;
  }
  .mobile-ul .child-menu{
    margin-left: 20px;
    display: none;
  }
  .mobile-ul .menu-item-has-children.active > .child-menu{
    display: block;
  }
  .mobile-ul .menu-item-has-children.active > i{
    transform: rotate(180deg);
  }






  // 移动端搜索
  .mobile-search-modal.modal {
    width: 100vw;
    height: 100vh;
    z-index: 80;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--rt-bg-color-mask);
    // background-color: rgba(173, 89, 225, 0.7);
    display: none;
    justify-content: center;
    align-items: center;

    &.show {
      display: flex;
    }

    .modal-dialog {
      position: relative;
      font-size: 18px;
      width: 90%;
      max-width: 300px;
      padding: 20px;
      border-radius: var(--rt-border-radius);
      background-color: var(--rt-bg-color-card);
      box-shadow: 0 0 3px var(--rt-shadow-color);

      .modal-close-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        // background-color: green;
        position: absolute;
        right: 0;
        top: 0;

        i {
          font-size: 20px;
        }
      }

      .modal-header {
        text-align: center;
        margin-bottom: 20px;
        color: var(--rt-text-color);
      }

      .field {
        width: 100%;
        height: 35px;
        box-sizing: border-box;
        margin-bottom: 20px;
        position: relative;
        font-size: 14px;
        color: var(--rt-text-color);
      }

      .field-text {
        input {
          width: 100%;
          height: 35px;
          box-sizing: border-box;
          color: var(--rt-text-color);
          border: 1px solid var(--rt-border-color);
          border-radius: var(--rt-border-radius);
          background-color: var(--rt-bg-color-card);
          text-indent: 10px;
        }
      }

      .field-button {
        margin-bottom: 0px;

        button {
          width: 100px;
          height: 35px;
          border: 1px solid transparent;
          background-color: var(--rt-color-primary);
          border-radius: var(--rt-border-radius);
          color: var(--rt-text-color-inverse);
          display: block;
          margin: 0px auto;
        }
      }


    }

  }
}

.header.pc {
  display: none;
}



/**
* header 900px+
*/
@media only screen and (min-width: 900px) {
  .header.mobile { display: none; }

  .header.pc {
    display: block;
    width: 100%;
    height: 60px;
    background-color: var(--rt-bg-color-card);
    box-shadow: 0px 0px 3px 0 var(--rt-shadow-color);
    z-index: 9;
    position: relative;
  }
  
  .header.pc .header-nav {
    width: 1200px;
    height: 60px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }
  
  .header.pc .header-nav a.logo {
    display: flex;
    height: 60px;
    min-width: 120px;
    width: auto;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--rt-font-size-lg);
    float: left;
  }
  .header.pc .header-nav a.logo img {
    display: block;
    max-height: 70%;
  }
  
  /* PC 菜单样式 */
  .header.pc .pc-nav {
    list-style: none;
    height: 60px;
    float: left;
    margin-left: 30px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    overflow: visible;
  }
  
  .pc-nav li {
    display: flex;
    align-items: center;
    // justify-content: center;
    position: relative;
    z-index: 9;
    height: 60px;
    min-width: 60px;
    box-sizing: border-box;
  }

  .pc-nav li a {
    font-size: var(--rt-font-size-base);
    display: block;
    white-space: nowrap;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
    padding: 0px 17px;
  }

  .pc-nav li a .iconfont {
    font-size: 16px;
    font-weight: 600;
  }

  .child-menu {
    background-color: var(--rt-bg-color-card);
    box-shadow: 0 0 3px 0 var(--rt-shadow-color);
    border-radius: var(--rt-border-radius);
    position: absolute;
    top:60px;
    left:0;
    display: none;
    // display: flex;
    flex-direction: column;
  }
  
  .child-menu li{ height: auto; }
  .child-menu li a {
    height: 45px;
    line-height: 45px; 
  }
  .child-menu li a .iconfont {
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top:0px;
    right: 3px;
  }
  .menu-item-has-children .menu-item-has-children{
    padding-right:10px;
  }
  .menu-item-has-children .menu-item-has-children .child-menu{
    top:0px;
    left: 100%;
  }
  
  .menu-item-has-children.active>.child-menu{
    display: flex; 
  }
  
  .menu-item-has-children.active>a i{
    display: inline-block;
    transform: rotate(180deg);
  }
  .menu-item-has-children .menu-item-has-children.active>a i{
    display: inline-block;
    transform: rotate(-90deg);
  }
    
  
    
  /* 登录注册等按钮 */
  .header.pc .header-button-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    margin-left: auto;
    
    .button {
      height: 30px;
      line-height: 30px;
      padding: 0px 10px;
      display: block;
      // background-color: var(--rt-bg-color-grey);
      font-size: 15px;
      margin-left: 12px;
      border-radius: var(--rt-border-radius);
      border: 1px solid var(--rt-border-color);
    }
    
    a.nav-button{
      width: 40px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      user-select: none;
    }
    a.nav-button i{
      font-size: 27px;
      font-weight: 300;
    }
    a.nav-button.dark-mode-button{
      transition: .3s all linear;
    }
    .dark-mode-button .moon{ display: block; }
    .dark-mode-button .sun{ display: none; }
    .dark-mode-button.dark .moon{ display: none; }
    .dark-mode-button.dark .sun{ display: block; }
  }
  
  .header.pc .search-toggle-button.active{
    color:var(--rt-color-primary);
  }
  
    
  .header.pc .header-top-avatar {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .header-nav::after {
    content: "";
    width: 0px;
    height: 0px;
    clear: both;
  }
  
  /* 搜索框 */
  .search-widget{
    width: 100%;
    min-height: 160px;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--rt-bg-color-card);
    box-shadow: 0 5px 5px 0 var(--rt-shadow-color);
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--rt-border-color);
  }
  .search-widget.show{
    display: flex;
  }
  .search-widget .close-widget{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
  }
  .search-widget .close-widget a i{
    font-size: 25px;
  }
  
  .search-widget .search{
    display: flex;
    width: 500px;
    height: 40px;
    margin-top: 20px;
    justify-content: space-between;
  }
  .search-widget .search input{
    width: 410px;
    outline: none;
    border:1px solid var(--rt-border-color);
    border-radius:var(--rt-border-radius);
    text-indent: 10px;
  }
  .search-widget .search input:focus{
    box-shadow: 0 0 3px 0 var(--rt-color-primary);
  }
  .search-widget .search .search-button{
    width: 80px;
    border:1px solid var(--rt-color-primary);
    background-color: var(--rt-color-primary);
    border-radius:var(--rt-border-radius);
  }
  .search-widget .search-button i{
    font-size: 30px;
    color: var(--rt-text-color-inverse);
  }
  
  
  /* 用户中心弹窗 */
  .header.pc .user-widget{
    position: absolute;
    right: 0;
    top: 60px;
    // width: 200px;
    min-height: 100px;
    padding: 15px;
    background-color: var(--rt-bg-color-card);
    box-shadow: 0 0 5px 0 var(--rt-shadow-color);
    border-radius: var(--rt-border-radius);
    overflow: hidden;
    display: none;
  }
  .header.pc .user-widget.show{
    display: block;
  }
  .user-widget .user-header{
    display: flex;
  }
  .user-widget .user-header .avatar{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--rt-border-color);
    margin-right: 10px;
  }
  .user-widget .user-header .user-meta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--rt-font-size-sm);
  }
  .user-widget .user-header .user-nickname{
    font-size: var(--rt-font-size-base);
    font-weight: bold;
  }
  .user-widget .user-header .user-more{
    margin-top: 7px;
    color:var(--rt-text-color-grey);
  }
  .user-widget .links-widget{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  .user-widget .links-widget a{
    margin: 5px 0;
    // font-size: ;
  }
  .user-widget .links-widget i{
    color: var(--rt-color-primary);
    display: inline-block;
    position: relative;
    top:3px;
    font-size: 22px;
    margin-right: 3px;
  }
}
