/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 3210959 */
  src: url('//at.alicdn.com/t/c/font_3210959_vnh5bpmwzwm.woff2?t=1718583496379') format('woff2'),
       url('//at.alicdn.com/t/c/font_3210959_vnh5bpmwzwm.woff?t=1718583496379') format('woff'),
       url('//at.alicdn.com/t/c/font_3210959_vnh5bpmwzwm.ttf?t=1718583496379') format('truetype');
}


.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


.icon-a-logout:before {
  content: "\e682";
}

.icon-a-yue2:before {
  content: "\e67d";
}

.icon-vip:before {
  content: "\e67a";
}

.icon-lock:before {
  content: "\e606";
}

.icon-home-fill:before {
  content: "\e671";
}

.icon-hashjinghao:before {
  content: "\e670";
}

.icon-a2:before {
  content: "\e66f";
}

.icon-ss:before {
  content: "\e669";
}

.icon-reload:before {
  content: "\e895";
}

.icon-zanting:before {
  content: "\e87a";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-xiangji1:before {
  content: "\e77f";
}

.icon-integral:before {
  content: "\e6fb";
}

.icon-customization:before {
  content: "\e774";
}

.icon-packing-labeling:before {
  content: "\e7af";
}

.icon-responsetime:before {
  content: "\e7c1";
}

.icon-menu:before {
  content: "\e7f6";
}

.icon-tag:before {
  content: "\e667";
}

.icon-clock:before {
  content: "\e76d";
}

.icon-good-fill:before {
  content: "\e666";
}

.icon-good:before {
  content: "\e665";
}

.icon-favorites-fill1:before {
  content: "\e664";
}

.icon-favorites1:before {
  content: "\e663";
}

.icon-email:before {
  content: "\e74f";
}

.icon-qq4:before {
  content: "\e73a";
}

.icon-map:before {
  content: "\e7a3";
}

.icon-security:before {
  content: "\e7ca";
}

.icon-resonserate:before {
  content: "\e7bf";
}

.icon-scanning:before {
  content: "\e7c9";
}

.icon-zijin:before {
  content: "\e8da";
}

.icon-phone3:before {
  content: "\e71d";
}

.icon-close:before {
  content: "\e75e";
}

.icon-cart-Empty:before {
  content: "\e760";
}

.icon-conditions:before {
  content: "\e763";
}

.icon-download:before {
  content: "\e777";
}

.icon-editor1:before {
  content: "\e77a";
}

.icon-filter:before {
  content: "\e782";
}

.icon-folder:before {
  content: "\e784";
}

.icon-history1:before {
  content: "\e786";
}

.icon-help:before {
  content: "\e788";
}

.icon-gift1:before {
  content: "\e78b";
}

.icon-hot:before {
  content: "\e78e";
}

.icon-mobile-phone:before {
  content: "\e79e";
}

.icon-Notvisible1:before {
  content: "\e7ab";
}

.icon-pic1:before {
  content: "\e7b1";
}

.icon-play1:before {
  content: "\e7b3";
}

.icon-reeor:before {
  content: "\e7bb";
}

.icon-reduce:before {
  content: "\e7bc";
}

.icon-remind:before {
  content: "\e7c0";
}

.icon-viewlist:before {
  content: "\e7f4";
}

.icon-set:before {
  content: "\e7f5";
}

.icon-Daytimemode:before {
  content: "\e7ff";
}

.icon-nightmode:before {
  content: "\e804";
}

.icon-rankinglist:before {
  content: "\e856";
}

.icon-service-fill:before {
  content: "\e864";
}

.icon-collection:before {
  content: "\e882";
}

.icon-collection-fill:before {
  content: "\e884";
}

.icon-consumption:before {
  content: "\e88d";
}

.icon-home:before {
  content: "\e89a";
}

.icon-arrow-down:before {
  content: "\e8a4";
}

.icon-account:before {
  content: "\e8a5";
}

.icon-comments:before {
  content: "\e8a6";
}

.icon-cart-Empty1:before {
  content: "\e8a7";
}

.icon-search:before {
  content: "\e8aa";
}

.icon-jiaobiao:before {
  content: "\e8b5";
}

.icon-shenqingjilu:before {
  content: "\e8bc";
}

.icon-wordpress1:before {
  content: "\e904";
}

.icon-all:before {
  content: "\e6ef";
}

.icon-pic:before {
  content: "\e6ff";
}

.icon-rising:before {
  content: "\e703";
}

.icon-QRcode:before {
  content: "\e704";
}

.icon-Exportservices:before {
  content: "\e702";
}

.icon-add:before {
  content: "\e744";
}

.icon-arrow-right:before {
  content: "\e748";
}

.icon-arrow-left:before {
  content: "\e749";
}

.icon-arrow-up:before {
  content: "\e74c";
}

.icon-ashbin:before {
  content: "\e74e";
}

.icon-attachent:before {
  content: "\e751";
}

.icon-browse:before {
  content: "\e752";
}

.icon-calculator:before {
  content: "\e75a";
}

.icon-category:before {
  content: "\e75d";
}

.icon-weixin:before {
  content: "\e903";
}

