

//
// sider 边框样式
//
.widget-container{
  background-color: var(--rt-bg-color-card);
  box-shadow: 0 0 2px 0 var(--rt-shadow-color);
  border-radius: var(--rt-border-radius);
  .widget-header{
    padding: 15px 15px;
    // position: relative;
    // border-bottom: 1px solid var(--rt-border-color);
    // box-shadow: 0 0 1px 0 var(--rt-shadow-color);
    .widget-title {
      font-size: var(--rt-font-size-base);
      font-weight: 900;
      color: var(--rt-text-color);
    }
  }
}

.widget-container:first-child{ margin-top: 0;}
// .widget-container:last-child{ margin-top: 20px;}

// 样式1: 左边竖杠
.widget-header.type-1{
  .widget-title{
    position: relative;
    padding-left: 15px;
    &::after{
      content:'';
      width: 5px;
      height: 14px;
      background-color: var(--rt-color-primary);
      border-radius: 2px;
      display: block;
      position: absolute;
      top: 2px;
      left: 0;
    }
  }
}

// 样式2: 左边原点
.widget-header.type-2{
  .widget-title{
    position: relative;
    padding-left: 15px;
    &::after{
      content:'';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--rt-color-primary);
      display: block;
      position: absolute;
      top: 6px;
      left: 0;
    }
  }
}

// 样式3: 底部杠
.widget-header.type-3{
  .widget-title{
    display: inline-block;
    position: relative;
    z-index: 99;
    &::after{
      content:'';
      width: 100%;
      height: 12px;
      // border-radius: 3px;
      background-color: var(--rt-color-primary);
      background-image: linear-gradient(90deg, var(--rt-color-primary), var(--rt-color-primary));
      opacity: 0.5;
      transform: scale(105%);
      // box-shadow: 1px 3px 8px 0px var(--rt-color-primary);
      display: block;
      position: absolute;
      top: 6px;
      left: 0;
      z-index: -1;
    }
    
  }
}





// 新版小工具搜索
.wp-block-search{
  box-sizing:border-box;
  padding: 15px;
  background-color: var(--rt-bg-color-card);
  box-shadow: 0 0 2px 0 var(--rt-shadow-color);
  border-radius: var(--rt-border-radius);
  display: flex;
  flex-direction: column;
  // justify-content: center;
  .wp-block-search__label{
    font-size: var(--rt-font-size-base);
    font-weight: 900;
    color: var(--rt-text-color);
  }
  .wp-block-search__inside-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    .wp-block-search__input{
      width: 92%;
      height: 35px;
      box-sizing: border-box;
      padding: 0 10px;
      background: var(--rt-bg-color);
      color: var(--rt-text-color);
      border: 1px solid var(--rt-border-color);
      border-radius: var(--rt-border-radius);
      font-size: var(--rt-font-size-sm);
    }
    .wp-block-search__button{
      width: 100px;
      margin-left: 10px;
      background-color:var(--rt-bg-color-card);
      border-radius:3px;
      border:1px solid var(--rt-border-color);
      font-size: var(--rt-font-size-sm);
      color:var(--rt-text-color);
    }
  }
}



// 图文列表
.image-title.widget-container {
  box-sizing: border-box;
  background-color: var(--rt-bg-color-card);
  box-shadow: 0 1px 3px var(--rt-shadow-color);
  border-radius: var(--rt-border-radius);
}
.image-title.widget-container .item-list-wrapper {
  padding: 15px;
  box-sizing: border-box;
}
.image-title.widget-container ul.item-list {
  width: auto;
  display: flex;
  justify-content: normal;
  flex-wrap: wrap;
}
.image-title.widget-container ul.item-list .item-widget {
  width: 100%;
  margin: 7px 15px 7px 0;
  box-sizing: border-box;
  overflow: hidden;
}
.image-title.widget-container ul.item-list .item-widget a {
  display: flex;
  width: 100%;
  height: 65px;
  justify-content: flex-start;
  font-size: var(--rt-font-size-sm);
}
.image-title.widget-container ul.item-list .item-widget a img {
  width: 90px;
  height: 65px;
  border-radius: 3px;
  flex-basis: auto;
  flex-shrink: 0;
  object-fit: cover;
}
.image-title.widget-container ul.item-list .item-widget a .item-title {
  padding: 0px 0 3px 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-shrink: 1;
}
.image-title.widget-container ul.item-list .item-widget a .item-title div {
  font-size: var(--rt-font-size-base);
  line-height: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.image-title.widget-container ul.item-list .item-widget a .item-title span {
  font-size: 10px;
  color: var(--rt-text-color-grey);
}




/* 文章列表 文章模块 */
.article.widget-container {

  .article-list {
    counter-reset: num1 0;
    padding: 0 15px 15px 15px;
    .article-item {
      height: 38px;
      line-height: 38px;
      a {
        font-size: var(--rt-font-size-base);
        display: block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
          color: var(--rt-color-primary);
        }
      }

      a::before {
        counter-increment: num1 1;
        content: counter(num1) ". ";
      }
    }

    .article-item:first-child {
      margin-top: 15px;
    }
  }
}





// 彩色数字

.hot-list {
  margin-top: 10px;
  counter-reset: num1 0;

  li {
    display: flex;
    padding: 15px 0;

    .hot-order {
      width: 25px;
      height: 18px;
      background-color: var(--rt-bg-color-grey);
      border-radius: 0 11px 11px 0;
      position: relative;
      font-size: 12px;
      font-weight: 900;
      text-align: center;
      line-height: 18px;
      flex: 0 0 auto;

      &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: 3px solid var(--rt-bg-color-grey);
        border-bottom: 3px solid transparent;
        border-left: 3px solid transparent;
        position: absolute;
        bottom: -5px;
        display: none;
      }

      &::after {
        counter-increment: num1 1;
        // content: counter(num1) ". ";
        content: counter(num1);
      }
    }

    .item {
      padding-left: 10px;
      a {
        font-size: var(--rt-font-size-base);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }

      .time {
        font-size: var(--rt-font-size-sm);
        color: var(--rt-text-color-grey);
        margin-top: 15px;
      }
    }
  }
}


.hot-list>li {
  &:nth-child(1) {
    .hot-order {
      background-color: #f35;
      color: #fff;

      &::before {
        border: 3px solid #f35;

        border-bottom: 3px solid transparent;
        border-left: 3px solid transparent;
      }
    }
  }

  &:nth-child(2) {
    .hot-order {
      background-color: #ffa41b;
      color: #fff;

      &::before {
        border: 3px solid #ffa41b;

        border-bottom: 3px solid transparent;
        border-left: 3px solid transparent;
      }
    }
  }

  &:nth-child(3) {
    .hot-order {
      background-color: #1a85ff;
      color: #fff;

      &::before {
        border: 3px solid #1a85ff;

        border-bottom: 3px solid transparent;
        border-left: 3px solid transparent;
      }
    }
  }
  
  &:nth-child(4) {
    .hot-order {
      background-color: #4cd964;
      color: #fff;
  
      &::before {
        border: 3px solid #4cd964;
  
        border-bottom: 3px solid transparent;
        border-left: 3px solid transparent;
      }
    }
  }
}



// 图片列表
.item-list-container{
  box-sizing: border-box;
  background-color: var(--rt-bg-color-card);
  box-shadow: 0 0 2px 0 var(--rt-shadow-color);
  border-radius: var(--rt-border-radius);
  
  .item-list-wrapper{
    padding: 15px;
    box-sizing: border-box;
  }
  ul.item-list{
    width: auto;
    // margin-top: 8px;
    margin-right: -15px;
    display: flex;
    justify-content: normal;
    flex-wrap: wrap;
    
    .item-widget{
      width: auto;
      flex: 0 0 calc(50% - 15px);
      margin: 0px 15px 15px 0;
      box-sizing: border-box;
      a{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        font-size: var(--rt-font-size-base);
        img{
          width: 100%;
          height: 100px;
          object-fit: cover;
          border-radius:var(--rt-border-radius);
        }
        .item-title{
          margin-top: 10px;
        }
        .item-price{
          margin-top: 5px;
          color:#f44336;
        }
      }
    }
  }
}



/* 分类列表 */
.category.widget-container {

  .category-list {
    counter-reset: num1 0;
    padding: 0 15px 15px 15px;
    .category-item {
      height: 38px;
      line-height: 38px;
      a {
        font-size: var(--rt-font-size-base);
        display: block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
          color: var(--rt-color-primary);
        }
      }
    }

    .article-item:first-child {
      margin-top: 15px;
    }
  }
}
