/**
 * 分类栏目顶部
 */

.banner {
    box-sizing: border-box;
    width: 100%;
    min-height: 20vw;
    color: #f8f8f8;
    font-size: var(--vt-font-size-sm);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    // background-color: green;
}
.banner::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.banner .banner-container {
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    box-sizing: border-box;
    padding:15px;
    text-align: center;
}

.banner .banner-container .title {
    font-size: var(--vt-font-size-base);
    font-weight: 900;
}
.banner .banner-container .description {
    margin-top: 10px;
    font-size: var(--vt-font-size-sm);
    line-height: 18px;
}

@media screen and (min-width:900px) {
    .banner {
        min-height: 80px;
        padding: 10px 0;
    }
    .banner .banner-container {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        
    }
    .banner .banner-container .title {
        font-size: var(--vt-font-size-lg);
        font-weight: 900;
    }
    .banner .banner-container .description  {
        width: 500px;
        margin-top: 10px;
        font-size: var(--vt-font-size-base);
        line-height: 25px;
    }
}
