/*
 * 文章列表样式
 */
.media-list {
  // width: 880px !important;
  // flex: 1 1 0%;
  box-sizing: border-box;
  margin: 0px 0px 20px 0;
  background-color: var(--vt-bg-color-card);
  box-shadow: 0 0 2px 0 var(--vt-shadow-color);
  border-radius: var(--vt-border-radius);
  // border: 1px solid var(--vt-border-color);
  // padding: 12px 15px 15px 15px;
}



@media only screen and (min-width: 900px) {
  .media-item {
    padding: 15px !important;
    .media-widget {
      .media-widget-right {
        width: 160px;
        img {
          width: 160px;
          height: 100px;
          margin-top: 5px;
          border-radius: 3px;
          object-fit: cover;
        }
      }

    .media-thumbnail{
      flex-shrink:0;
      width: 160px !important;
      height: 85px !important;
      img{
        width: 100%;
        height: 100%;
      }
    }
    }
  }
  
  
}
