//-----------------------------------------------------------------------------
// 产品列表
//
.cards-section {
  width: 100%;
  box-sizing: border-box;
  margin: 20px auto;
  padding: 0px;

  &::after {
    content: "";
    display: block;
    clear: both;
  }

  .cards-list {
    width: auto;
    // margin-left: -7.5px;
    // margin-right: -7.5px;
    margin-right: -8px;
    display: flex;
    justify-content: normal;
    flex-wrap: wrap;

    &::after {
      content: "";
      display: block;
      clear: both;
    }


  }
}

@media only screen and (min-width: 900px) {
  .cards-section {
    width: 100%;
    padding: 0;
    margin: 11px auto;

    .cards-list {
      // width: 100%;
      margin-right: -20px;
      padding: 0;

      .card-item {
        width: auto;
        margin: 0 20px 20px 0;
        flex: 0 0 calc(33.33% - 20px);
      }
    }
  }
}