.card-item {
  width: calc(50% - 8px);
  flex: 0 0 calc(50% - 8px);
  margin: 0 8px 8px 0;
  box-sizing: border-box;
  // border: 1px solid var(--rt-border-color);
  box-shadow: 0 0 2px 0 var(--rt-shadow-color);
  border-radius: var(--rt-border-radius);
  background-color: var(--rt-bg-color-card);
  position: relative;
}

.card-item a.card-image {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.card-item a.card-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: var(--rt-border-radius) var(--rt-border-radius) 0 0;
  object-fit: cover;
  // box-shadow: 0px 1px 3px 0px var(--rt-shadow-color);
}

.card-item .item-info {
  padding: 5px 5px;
  box-sizing: border-box;
  font-size: 13px;
}

.card-item .item-info  a.title {
  display: block;
  font-size: var(--rt-font-size-base);
  font-weight: 500;
  line-height: 20px;
  min-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-item .item-info  .description {
  margin-top: 3px;
  font-size: var(--rt-font-size-sm);
  color: #666;
  max-height: 40px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  // white-space: nowrap;
  // display: none;
}


.card-item .item-price {
  display: flex;
  justify-content: flex-start;
  align-items:flex-end;
  width: 100%;
  height: 30px;
}
.item-price .price {
  padding: 3px 0px;
  color: #f44336;
  font-size: 15px;
}
.item-price .item-delete {
  color: var(--rt-text-color-grey) !important;
  text-decoration: line-through;
  font-size: 10px;
  margin-left: 10px;
}


.card-meta{
  box-sizing:border-box;
  padding:5px 5px;
  color: var(--rt-text-color-grey);
  font-size: var(--rt-font-size-sm);
}
.card-meta .meta .iconfont{
  position:relative;
  top: 1px;
}

@media only screen and (min-width: 900px) {
  .card-item {
    .item-price {

    }
  }

}
