.media-item {
  width: 100%;
  padding: 15px 15px;
  box-sizing: border-box;
  font-size: var(--vt-font-size-base);
  display: flex;
  border-bottom:1px solid var(--vt-border-color);
  // transition: all 1s linear;
}
.media-item:hover .media-thumbnail img{
  // background-color:var(--vt-bg-color-hover);
  transition: all 0.2s linear;
  transform: scale(1.03);
}

.media-item .media-thumbnail{
  flex-shrink: 0;
  width: 30%;
  margin-right: 15px;
}
.media-item .media-thumbnail a{
  display: block;
  overflow: hidden;
  width: 100%;
  height: 0px;
  padding-bottom: 70%;
  border-radius: 5px;
  position: relative;
}
.media-item .media-thumbnail img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.media-item .media-main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.media-main .media-title{
  display: flex;
  justify-content: flex-start;
}

.media-main .media-title .sticky{
  height: 20px;
  line-height: 20px;
  margin-right: 10px;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 14px;
  background-color: var(--vt-color-primary);
  color: #fff;
}

.media-main .media-title a{
  font-size: var(--vt-font-size-base);
  font-weight: bold;
  line-height: 25px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  color: var(--vt-text-color);
  word-break:break-all
}

.media-main .media-title a:hover {
  color: var(--vt-color-primary);
}

.media-main .media-description {
  word-break: break-all;
  text-overflow: ellipsis;
  // display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 25px;
  font-size: 15px;
  color: var(--vt-text-color-grey);
  margin-top: 0;
  margin-right: 5px;
  display: none;
}

.media-main .media-meta {
  margin-top: 3px;
  color: var(--vt-text-color-grey);
  font-size: var(--vt-font-size-sm);
}

.media-main .media-meta .iconfont{
  font-size: 23px;
  vertical-align: -3px;
}
.media-main .media-meta span{
  margin-right: 10px;
}
.media-main .media-meta .author img{
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin-bottom: -5px;
  margin-right: 3px;
  box-shadow: 0 1px 3px var(--vt-shadow-color);
  object-fit: cover;
  position: relative;
  top: 1px;
}
.media-main .media-meta .author{
  color: var(--vt-text-color-grey);
  font-size: 14px;
}

.media-main .media-meta span.date{ display: none;}




@media only screen and (min-width: 900px) {
  .media-item .media-thumbnail{
    width: 200px;
    height: 138px;
  }
  
  .media-item  .media-main{
    height: 140px;
    justify-content: flex-start;
  }
  .media-main .media-description {
    margin-top: 10px;
    // font-size: var(--vt-font-size-sm);
    line-height: 25px;
    display: -webkit-box;
  }
  .media-main .media-meta {
    margin-top: auto;
  }
  .media-main .media-meta span.date{ display: inline-block;}


}


