/**
 * 公共样式
 */
.my-img-preview{
  max-width:120px;
  max-height:120px;
  display:block;
  margin-bottom:5px;
  /*object-fit:contain;*/
  clear:both;
  background-color:transparent;
  box-shadow: 0 0 3px #c3c3c3;
}
.margin-top-10{
  margin-top: 10px!important;
}


th>.title-light{
  position: relative;
  font-size: 15px;
  font-weight: 500;
  width: fit-content;
}
th>.title-light::after{
  content: "";
  position: absolute; 
  left: 0;
  top:10px;
  width: 100%; 
  height: 10px;
  /* border-radius: 3px; */
  background-image: linear-gradient(90deg, #25b6ff, #25b6ff);
  z-index: -1;
}


.form-table td p{
  margin-bottom: 10px;
}
td label{ margin-right:20px; }



/**
 * basic.php
 */
.style-color-container{ display: flex; }
.style-color-container .color-label{ margin-right: 10px; display: flex; align-items: center; }
.style-color-container .color-show { width: 60px; height: 30px; margin-right: 5px; border-radius: 3px; }
.style-color-container .color-label input[name="basic_style_color"]{
  width: 60px;
  height: 25px;
  line-height: 30px;
  margin-right: 5px;
  border-radius: 0px;
  font-size: 12px;
  border-radius: 3px;
}
.style-color-container .color-label input[name="basic_style_color"]::placeholder{ font-size: 12px; }



/*
 * slider.php
 */
.my-img-preview{
  /* display: none!important; */
  /*width: 200px;
  height: 50px;*/
}
.thumbnail-group-list{}
.thumbnail-group-list .thumbnail-group{
  margin: 0px 0px 30px;
}
.thumbnail-group-list .thumbnail-group button{
  width: 50px;
  height: 20px;
  /* line-height: 25px; */
  font-size: 12px;
  box-sizing: box-sizing;
  padding: 0px;
  margin: 5px 0px 0px 0px;
}

.upload-button{
  border: 1px solid #4cd964;
  background-color: #4cd964;
  color: #fff;
  border-radius: 3px;
}
.delete-button{
  border: 1px solid #dd524d;
  background-color: #dd524d;
  color: #fff;
  border-radius: 3px;
}

.thumbnail-group-list .thumbnail-group input{
  margin: 3px 0px 0px 0px !important;
}

.add-thumbnail-group-button{
  border: 1px solid #f0ad4e;
  background-color: #f0ad4e;
  color: #fff;
  height: 35px;
  border-radius: 3px;
}


/**
 * slider 模块设置
 */
.slider-list{}
.slider-list .number-item{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  margin-bottom: 15px;
}
.slider-list .number-item > *{
  margin-top: 5px;
  margin-bottom: 0px;
}
.slider-list .number-item .action a{
  display: inline-block;
  width: 35px;
  height: 20px;
  text-decoration: none;
}
.slider-list .number-item .action a.delete-slider-button{
  color: #dd524d;
}


/*
 * footer.php
 */
.my-img-preview.qrcode{
  width: 100px;
  height: 100px;
}
