/*
 * 底部按钮 回到顶部
 */

.float-widget{
  width: 45px;
  min-height: 50px;
  position: fixed;
  right: 5px;
  bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 999;
  display: none;
}

.float-widget .tool-widget{
  width: 45px;
  height: 45px;
  margin-top: 15px;
  position: relative;
}
.float-widget a.tool-button{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 0 5px 0 var(--rt-shadow-color);
  border-radius: 50%;
  background-color: var(--rt-bg-color-card);
  cursor: pointer;
}
.float-widget a.tool-button i{
  z-index: 1;
  font-size: 25px;
  color: var(--rt-text-color);
  user-select: none;
}



@media only screen and (min-width: 900px) {
  .float-widget{
    position: fixed;
    right: calc(50% - 680px);
    bottom: 120px;
    display: block;
  }
}





