
.article-content,
.item-content,
.page-content {
  font-size: var(--vt-font-size-base);
  line-height: 30px;
  a {
    font-size: var(--vt-font-size-base);
    color:var(--vt-color-primary);
  }
  
  img {
    max-width: 100%;
    margin: 5px 0px;
  }
  
  pre {
    line-height: 18px;
    font-size: 13px !important;
    background-color: #f0f0f0;
    border-color: #f0f0f0;
    padding: 12px;
    margin: 5px 0;
    // overflow-x: scroll;
    border-radius: var(--vt-border-radius);
  }
  
  p { margin-top: 20px; overflow: hidden;}
  p:first-child { margin-top: 0px; }
  
  h1,h2,h3,h4,h5 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  h1 { font-size: 25px; }
  h2 { font-size: 22px; }
  h3 { font-size: 18px; }
  h4 { font-size: 16px; }
  h5 { font-size: 10px; }

  ul{ list-style: inherit; padding-left: 25px; margin-bottom: 5px;}
  ol{ list-style: decimal; padding-left: 25px; margin-bottom: 5px;}

  blockquote{
    padding: 15px;
    background-color: var(--vt-bg-color);
    margin-top: 20px;
    color: var(--vt-text-color-grey);
    border-radius: var(--vt-border-radius);
  }
  blockquote::before{
    content: '\e669';
    font-family: 'iconfont';
    font-size: 38px;
    color: var(--vt-color-primary);
  }

  .content-excerpt{
    padding: 15px;
    background-color:var(--vt-bg-color);
    margin-top: 20px;
    color: var(--vt-text-color-grey);
    border-radius: var(--vt-border-radius);
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid var(--vt-border-color);
    margin-top:10px;
    caption {
      color: var(--vt-text-color);
      font: italic 85%/1 arial,sans-serif;
      padding: 1em 0;
      text-align: center;
    }
    td,th {
      border-left: 1px solid var(--vt-border-color);
      border-width: 0 0 0 1px;
      font-size: inherit;
      margin: 0;
      overflow: visible;
      padding: .5em 1em;
    }
    thead {
      background-color: var(--vt-bg-color-grey);
      color: var(--vt-text-color);
      text-align: left;
      vertical-align: bottom;
    }
    td,th {
      background-color: transparent;
      border-bottom: 1px solid var(--vt-border-color);
    }
  }
  
  
  .hljs {
    /*background-color: transparent !important;*/
    // padding: 9.5px !important;

    // border: 0;
    // font-size: 12px;
    // display: block;
    // padding: 1px;
    // margin: 0;
    // width: 100%;
    // font-weight: 200;
    // color: #333;
    white-space: pre-wrap
  }
}



.article-content .wp-caption {
  max-width: 100% !important; 
}
.article-content .wp-caption img{ margin-bottom: 0px !important;  }
.article-content .wp-caption .wp-caption-text{
  margin-top: 0px !important; 
  font-size: var(--vt-font-size-sm) !important; 
  color: var(--vt-text-color-grey);
  line-height: 15px !important;
}









