.mobile-nav {
  width: 100%;
  height: 45px;
  border-top: 1px solid var(--vt-border-color);
  position: fixed;
  bottom: 0px;
  background-color: var(--vt-bg-color-card);
  z-index: 999999;
  .mobile-nav-container {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;

    a.nav-button {
      width: 70px;
      height: 45px;
      // background-color: green;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      color: var(--vt-text-color-grey);
      border-radius: var(--vt-border-radius);

      i.iconfont {
        font-size: 20px;
      }
    }
  }
}



@media only screen and (min-width: 900px) {
  .mobile-nav {
    display: none;
  }
}