/**
 * 模态对话框样式
 */

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--vt-bg-color-mask);
  backdrop-filter: saturate(97%) blur(20px);
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.modal-show {
  display: flex;
}